<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24414894723-avtbmeelv7304hea4f168u9su3c55bur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24414894723-avtbmeelv7304hea4f168u9su3c55bur</string>
	<key>API_KEY</key>
	<string>AIzaSyBm34BH4j9EZa7gwEkoRiSWmAT7_5zI5wM</string>
	<key>GCM_SENDER_ID</key>
	<string>24414894723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eslam.Appp</string>
	<key>PROJECT_ID</key>
	<string>appp-b19c4</string>
	<key>STORAGE_BUCKET</key>
	<string>appp-b19c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24414894723:ios:e9a8ed9a235851bde579b6</string>
</dict>
</plist>